In [1]:
import pandas as pd

1. Cargar el dataset

In [2]:
#Almacenamos el archivo attacks en el df attacks
attacks = pd.read_csv('Datos/attacks.csv', index_col = 0)
attacks.head(3)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

2. Haced una exploración básica del DataFrame:

    - ¿Cuántas filas y columnas tiene el DataFrame?

In [3]:
attacks.shape

(6114, 21)

- Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [4]:
# 5 primneras filas
attacks.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
# 5 últimas filas 
attacks.tail()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

- Mostrad 2 filas al azar del DataFrame.

In [6]:
attacks.sample(2)

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5858,1877.03.11,1877.0,Unprovoked,FIJI,Viti Levu Island,"Na Koro Vatu, Rewa River",NaN,boy,M,15,...,NaN,"Timaru Herald, 5/18/1877",1877.03.11-RewaRiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1877.03.11,1877.03.11,445.0,NaN,NaN
4722,1942.00.00.i,1942.0,Unprovoked,PHILIPPINES,Camiguin Island,2 kilometres off Sagay,"Sailing from Gingood, Misamis Oriental to Saga...",Andong & 2 others,M,NaN,...,NaN,V. Obedencio,1942.00.00.i-Adong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.i,1942.00.00.i,1581.0,NaN,NaN

- ¿Cuál es el nombre de las columnas del DataFrame?

In [7]:
attacks.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

- ¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.

In [8]:
attacks.describe(include ='object') # columnas categóricas

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

In [9]:
attacks.describe(exclude ='object') # columnas numéricas

              Year  original order
count  6114.000000     6114.000000
mean   1968.831207     3237.445044
std      43.745920     1769.652633
min    1801.000000      172.000000
25%    1946.000000     1706.250000
50%    1980.000000     3236.500000
75%    2005.000000     4768.750000
max    2018.000000     6303.000000

- ¿Cuál es el porcentaje de valores nulos en cada columna?

In [10]:
attacks.isnull().sum()/len(attacks)*100

Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

- Sacad los valores únicos y su frecuencia de las variables numéricas.
 Almacenad los resultados en un diccionario.
  Uno para cada variable.

In [11]:
#Vemos cuales son las variables numéricas 
attacks.dtypes

Case Number                object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [12]:
#Frecuancia de los valores únicos de la columna year
attacks['Year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    126
         ...
1819.0      1
1822.0      1
1823.0      1
1834.0      1
1801.0      1
Name: Year, Length: 207, dtype: int64

In [13]:
#Frecuancia de los valores únicos de la columna originar order
attacks['original order'].value_counts()

569.0     2
6303.0    1
2208.0    1
2210.0    1
2211.0    1
         ..
4260.0    1
4261.0    1
4262.0    1
4263.0    1
172.0     1
Name: original order, Length: 6113, dtype: int64

In [14]:
#creamos un diccionario con el método dict
dic_year = dict(attacks['Year'].value_counts())
dic_year

{2015.0: 143,
 2017.0: 136,
 2016.0: 130,
 2011.0: 128,
 2014.0: 126,
 2008.0: 122,
 2013.0: 121,
 2009.0: 119,
 2012.0: 116,
 2007.0: 112,
 2006.0: 102,
 2005.0: 102,
 2010.0: 101,
 2000.0: 97,
 1960.0: 93,
 1959.0: 93,
 2001.0: 92,
 2003.0: 92,
 2004.0: 92,
 2002.0: 88,
 1962.0: 85,
 1961.0: 78,
 1995.0: 76,
 1999.0: 66,
 1964.0: 66,
 1998.0: 65,
 1996.0: 61,
 1963.0: 61,
 1966.0: 57,
 1997.0: 57,
 1992.0: 56,
 1993.0: 56,
 1994.0: 56,
 1988.0: 55,
 1958.0: 54,
 2018.0: 53,
 1989.0: 53,
 1956.0: 51,
 1965.0: 51,
 1983.0: 49,
 1975.0: 49,
 1981.0: 49,
 1967.0: 48,
 1968.0: 47,
 1955.0: 43,
 1950.0: 43,
 1954.0: 42,
 1970.0: 42,
 1957.0: 41,
 1984.0: 41,
 1942.0: 41,
 1982.0: 40,
 1976.0: 39,
 1986.0: 39,
 1929.0: 38,
 1974.0: 38,
 1991.0: 38,
 1985.0: 37,
 1990.0: 37,
 1953.0: 36,
 1972.0: 35,
 1987.0: 35,
 1980.0: 34,
 1951.0: 32,
 1936.0: 32,
 1935.0: 32,
 1949.0: 31,
 1944.0: 31,
 1937.0: 30,
 1947.0: 30,
 1969.0: 30,
 1948.0: 29,
 1952.0: 29,
 1931.0: 29,
 1971.0: 28,
 1943.0: 28,
 1932.0: 27,
 1973.0: 27,
 1934.0: 27,
 1941.0: 27,
 1930.0: 26,
 1946.0: 26,
 1928.0: 26,
 1977.0: 26,
 1916.0: 25,
 1939.0: 25,
 1978.0: 25,
 1979.0: 25,
 1938.0: 24,
 1940.0: 24,
 1907.0: 22,
 1933.0: 22,
 1898.0: 21,
 1906.0: 21,
 1926.0: 21,
 1923.0: 21,
 1922.0: 21,
 1899.0: 20,
 1895.0: 20,
 1924.0: 19,
 1927.0: 19,
 1914.0: 18,
 1909.0: 18,
 1905.0: 18,
 1890.0: 17,
 1913.0: 17,
 1911.0: 16,
 1945.0: 16,
 1894.0: 15,
 1880.0: 15,
 1886.0: 15,
 1902.0: 15,
 1888.0: 15,
 1904.0: 14,
 1877.0: 14,
 1910.0: 14,
 1919.0: 14,
 1912.0: 14,
 1864.0: 14,
 1925.0: 14,
 1920.0: 14,
 1908.0: 13,
 1883.0: 13,
 1893.0: 13,
 1887.0: 13,
 1878.0: 13,
 1900.0: 13,
 1896.0: 12,
 1921.0: 12,
 1882.0: 12,
 1862.0: 12,
 1874.0: 12,
 1863.0: 11,
 1892.0: 11,
 1915.0: 11,
 1917.0: 11,
 1897.0: 11,
 1903.0: 10,
 1852.0: 10,
 1885.0: 9,
 1901.0: 9,
 1871.0: 9,
 1876.0: 9,
 1847.0: 9,
 1881.0: 9,
 1891.0: 9,
 1889.0: 9,
 1879.0: 8,
 1872.0: 8,
 1870.0: 8,
 1853.0: 8,
 1855.0: 7,
 1860.0: 7,
 1849.0: 7,
 1884.0: 7,
 1858.0: 6,
 1868.0: 6,
 1845.0: 6,
 1918.0: 5,
 1861.0: 5,
 1840.0: 5,
 1826.0: 5,
 1875.0: 5,
 1867.0: 5,
 1837.0: 4,
 1830.0: 4,
 1817.0: 4,
 1839.0: 4,
 1842.0: 4,
 1844.0: 4,
 1873.0: 4,
 1856.0: 4,
 1848.0: 4,
 1865.0: 4,
 1846.0: 3,
 1851.0: 3,
 1808.0: 3,
 1827.0: 3,
 1829.0: 3,
 1866.0: 2,
 1803.0: 2,
 1850.0: 2,
 1869.0: 2,
 1828.0: 2,
 1825.0: 2,
 1831.0: 2,
 1835.0: 2,
 1836.0: 2,
 1832.0: 2,
 1811.0: 1,
 1802.0: 1,
 1841.0: 1,
 1804.0: 1,
 1805.0: 1,
 1807.0: 1,
 1857.0: 1,
 1810.0: 1,
 1815.0: 1,
 1812.0: 1,
 1816.0: 1,
 1859.0: 1,
 1818.0: 1,
 1819.0: 1,
 1822.0: 1,
 1823.0: 1,
 1834.0: 1,
 1801.0: 1}

In [15]:
dic_original = dict(attacks['original order'].value_counts())
dic_original

{569.0: 2,
 6303.0: 1,
 2208.0: 1,
 2210.0: 1,
 2211.0: 1,
 2212.0: 1,
 2213.0: 1,
 2214.0: 1,
 2215.0: 1,
 2216.0: 1,
 2217.0: 1,
 2218.0: 1,
 2219.0: 1,
 2220.0: 1,
 2221.0: 1,
 2222.0: 1,
 2223.0: 1,
 2224.0: 1,
 2225.0: 1,
 2226.0: 1,
 2227.0: 1,
 2228.0: 1,
 2229.0: 1,
 2209.0: 1,
 2207.0: 1,
 2231.0: 1,
 2195.0: 1,
 2186.0: 1,
 2187.0: 1,
 2188.0: 1,
 2189.0: 1,
 2190.0: 1,
 2191.0: 1,
 2192.0: 1,
 2193.0: 1,
 2194.0: 1,
 2196.0: 1,
 2206.0: 1,
 2197.0: 1,
 2198.0: 1,
 2199.0: 1,
 2200.0: 1,
 2201.0: 1,
 2202.0: 1,
 2203.0: 1,
 2204.0: 1,
 2205.0: 1,
 2230.0: 1,
 2232.0: 1,
 2184.0: 1,
 2267.0: 1,
 2258.0: 1,
 2259.0: 1,
 2260.0: 1,
 2261.0: 1,
 2262.0: 1,
 2263.0: 1,
 2264.0: 1,
 2265.0: 1,
 2266.0: 1,
 2268.0: 1,
 2256.0: 1,
 2269.0: 1,
 2270.0: 1,
 2271.0: 1,
 2272.0: 1,
 2273.0: 1,
 2274.0: 1,
 2275.0: 1,
 2276.0: 1,
 2277.0: 1,
 2257.0: 1,
 2255.0: 1,
 2233.0: 1,
 2243.0: 1,
 2234.0: 1,
 2235.0: 1,
 2236.0: 1,
 2237.0: 1,
 2238.0: 1,
 2239.0: 1,
 2240.0: 1,
 2241.0: 1,
 2242.0: 1,
 2244.0: 1,
 2254.0: 1,
 2245.0: 1,
 2246.0: 1,
 2247.0: 1,
 2248.0: 1,
 2249.0: 1,
 2250.0: 1,
 2251.0: 1,
 2252.0: 1,
 2253.0: 1,
 2185.0: 1,
 2183.0: 1,
 2470.0: 1,
 2124.0: 1,
 2115.0: 1,
 2116.0: 1,
 2117.0: 1,
 2118.0: 1,
 2119.0: 1,
 2120.0: 1,
 2121.0: 1,
 2122.0: 1,
 2123.0: 1,
 2125.0: 1,
 2113.0: 1,
 2126.0: 1,
 2127.0: 1,
 2128.0: 1,
 2129.0: 1,
 2130.0: 1,
 2131.0: 1,
 2132.0: 1,
 2133.0: 1,
 2134.0: 1,
 2114.0: 1,
 2112.0: 1,
 2182.0: 1,
 2100.0: 1,
 2091.0: 1,
 2092.0: 1,
 2093.0: 1,
 2094.0: 1,
 2095.0: 1,
 2096.0: 1,
 2097.0: 1,
 2098.0: 1,
 2099.0: 1,
 2101.0: 1,
 2111.0: 1,
 2102.0: 1,
 2103.0: 1,
 2104.0: 1,
 2105.0: 1,
 2106.0: 1,
 2107.0: 1,
 2108.0: 1,
 2109.0: 1,
 2110.0: 1,
 2135.0: 1,
 2136.0: 1,
 2137.0: 1,
 2171.0: 1,
 2162.0: 1,
 2163.0: 1,
 2164.0: 1,
 2165.0: 1,
 2166.0: 1,
 2167.0: 1,
 2168.0: 1,
 2169.0: 1,
 2170.0: 1,
 2172.0: 1,
 2138.0: 1,
 2173.0: 1,
 2174.0: 1,
 2175.0: 1,
 2176.0: 1,
 2177.0: 1,
 2178.0: 1,
 2179.0: 1,
 2180.0: 1,
 2181.0: 1,
 2161.0: 1,
 2160.0: 1,
 2159.0: 1,
 2158.0: 1,
 2139.0: 1,
 2140.0: 1,
 2141.0: 1,
 2142.0: 1,
 2143.0: 1,
 2144.0: 1,
 2145.0: 1,
 2146.0: 1,
 2147.0: 1,
 2148.0: 1,
 2149.0: 1,
 2150.0: 1,
 2151.0: 1,
 2152.0: 1,
 2153.0: 1,
 2154.0: 1,
 2155.0: 1,
 2156.0: 1,
 2157.0: 1,
 2278.0: 1,
 2279.0: 1,
 2280.0: 1,
 2410.0: 1,
 2401.0: 1,
 2402.0: 1,
 2403.0: 1,
 2404.0: 1,
 2405.0: 1,
 2406.0: 1,
 2407.0: 1,
 2408.0: 1,
 2409.0: 1,
 2411.0: 1,
 2399.0: 1,
 2412.0: 1,
 2413.0: 1,
 2414.0: 1,
 2415.0: 1,
 2416.0: 1,
 2417.0: 1,
 2418.0: 1,
 2419.0: 1,
 2420.0: 1,
 2400.0: 1,
 2398.0: 1,
 2422.0: 1,
 2386.0: 1,
 2377.0: 1,
 2378.0: 1,
 2379.0: 1,
 2380.0: 1,
 2381.0: 1,
 2382.0: 1,
 2383.0: 1,
 2384.0: 1,
 2385.0: 1,
 2387.0: 1,
 2397.0: 1,
 2388.0: 1,
 2389.0: 1,
 2390.0: 1,
 2391.0: 1,
 2392.0: 1,
 2393.0: 1,
 2394.0: 1,
 2395.0: 1,
 2396.0: 1,
 2421.0: 1,
 2423.0: 1,
 2281.0: 1,
 2458.0: 1,
 2449.0: 1,
 2450.0: 1,
 2451.0: 1,
 2452.0: 1,
 2453.0: 1,
 2454.0: 1,
 2455.0: 1,
 2456.0: 1,
 2457.0: 1,
 2459.0: 1,
 2447.0: 1,
 2460.0: 1,
 2461.0: 1,
 2462.0: 1,
 2463.0: 1,
 2464.0: 1,
 2465.0: 1,
 2466.0: 1,
 2467.0: 1,
 2468.0: 1,
 2448.0: 1,
 2446.0: 1,
 2424.0: 1,
 2434.0: 1,
 2425.0: 1,
 2426.0: 1,
 2427.0: 1,
 2428.0: 1,
 2429.0: 1,
 2430.0: 1,
 2431.0: 1,
 2432.0: 1,
 2433.0: 1,
 2435.0: 1,
 2445.0: 1,
 2436.0: 1,
 2437.0: 1,
 2438.0: 1,
 2439.0: 1,
 2440.0: 1,
 2441.0: 1,
 2442.0: 1,
 2443.0: 1,
 2444.0: 1,
 2376.0: 1,
 2375.0: 1,
 2374.0: 1,
 2315.0: 1,
 2306.0: 1,
 2307.0: 1,
 2308.0: 1,
 2309.0: 1,
 2310.0: 1,
 2311.0: 1,
 2312.0: 1,
 2313.0: 1,
 2314.0: 1,
 2316.0: 1,
 2304.0: 1,
 2317.0: 1,
 2318.0: 1,
 2319.0: 1,
 2320.0: 1,
 2321.0: 1,
 2322.0: 1,
 2323.0: 1,
 2324.0: 1,
 2325.0: 1,
 2305.0: 1,
 2303.0: 1,
 2373.0: 1,
 2291.0: 1,
 2282.0: 1,
 2283.0: 1,
 2284.0: 1,
 2285.0: 1,
 2286.0: 1,
 2287.0: 1,
 2288.0: 1,
 2289.0: 1,
 2290.0: 1,
 2292.0: 1,
 2302.0: 1,
 2293.0: 1,
 2294.0: 1,
 2295.0: 1,
 2296.0: 1,
 2297.0: 1,
 2298.0: 1,
 2299.0: 1,
 2300.0: 1,
 2301.0: 1,
 2326.0: 1,
 2327.0: 1,
 2328.0: 1,
 2362.0: 1,
 2353.0: 1,
 2354.0: 1,
 2355.0: 1,
 2356.0: 1,
 2357.0: 1,
 2358.0: 1,
 2359.0: 1,
 2360.0: 1,
 2361.0: 1,
 2363.0: 1,
 2329.0: 1,
 2364.0: 1,
 2365.0: 1,
 2366.0: 1,
 2367.0: 1,
 2368.0: 1,
 2369.0: 1,
 2370.0: 1,
 2371.0: 1,
 2372.0: 1,
 2352.0: 1,
 2351.0: 1,
 2350.0: 1,
 2349.0: 1,
 2330.0: 1,
 2331.0: 1,
 2332.0: 1,
 2333.0: 1,
 2334.0: 1,
 2335.0: 1,
 2336.0: 1,
 2337.0: 1,
 2338.0: 1,
 2339.0: 1,
 2340.0: 1,
 2341.0: 1,
 2342.0: 1,
 2343.0: 1,
 2344.0: 1,
 2345.0: 1,
 2346.0: 1,
 2347.0: 1,
 2348.0: 1,
 2090.0: 1,
 2089.0: 1,
 2088.0: 1,
 1837.0: 1,
 1828.0: 1,
 1829.0: 1,
 1830.0: 1,
 1831.0: 1,
 1832.0: 1,
 1833.0: 1,
 1834.0: 1,
 1835.0: 1,
 1836.0: 1,
 1838.0: 1,
 1826.0: 1,
 1839.0: 1,
 1840.0: 1,
 1841.0: 1,
 1842.0: 1,
 1843.0: 1,
 1844.0: 1,
 1845.0: 1,
 1846.0: 1,
 1847.0: 1,
 1827.0: 1,
 1825.0: 1,
 1849.0: 1,
 1813.0: 1,
 1804.0: 1,
 1805.0: 1,
 1806.0: 1,
 1807.0: 1,
 1808.0: 1,
 1809.0: 1,
 1810.0: 1,
 1811.0: 1,
 1812.0: 1,
 1814.0: 1,
 1824.0: 1,
 1815.0: 1,
 1816.0: 1,
 1817.0: 1,
 1818.0: 1,
 1819.0: 1,
 1820.0: 1,
 1821.0: 1,
 1822.0: 1,
 1823.0: 1,
 1848.0: 1,
 1850.0: 1,
 1897.0: 1,
 1885.0: 1,
 1876.0: 1,
 1877.0: 1,
 1878.0: 1,
 1879.0: 1,
 1880.0: 1,
 1881.0: 1,
 1882.0: 1,
 1883.0: 1,
 1884.0: 1,
 1886.0: 1,
 1874.0: 1,
 1887.0: 1,
 1888.0: 1,
 1889.0: 1,
 1890.0: 1,
 1891.0: 1,
 1892.0: 1,
 1893.0: 1,
 1894.0: 1,
 1895.0: 1,
 1875.0: 1,
 1873.0: 1,
 1851.0: 1,
 1861.0: 1,
 1852.0: 1,
 1853.0: 1,
 1854.0: 1,
 1855.0: 1,
 1856.0: 1,
 1857.0: 1,
 1858.0: 1,
 1859.0: 1,
 1860.0: 1,
 1862.0: 1,
 1872.0: 1,
 1863.0: 1,
 1864.0: 1,
 1865.0: 1,
 1866.0: 1,
 1867.0: 1,
 1868.0: 1,
 1869.0: 1,
 1870.0: 1,
 1871.0: 1,
 1803.0: 1,
 1802.0: 1,
 1801.0: 1,
 1742.0: 1,
 1733.0: 1,
 1734.0: 1,
 1735.0: 1,
 1736.0: 1,
 1737.0: 1,
 1738.0: 1,
 1739.0: 1,
 1740.0: 1,
 1741.0: 1,
 1743.0: 1,
 1731.0: 1,
 1744.0: 1,
 1745.0: 1,
 1746.0: 1,
 1747.0: 1,
 1748.0: 1,
 1749.0: 1,
 1750.0: 1,
 1751.0: 1,
 1752.0: 1,
 1732.0: 1,
 1730.0: 1,
 1800.0: 1,
 1718.0: 1,
 1709.0: 1,
 1710.0: 1,
 1711.0: 1,
 1712.0: 1,
 1713.0: 1,
 1714.0: 1,
 1715.0: 1,
 1716.0: 1,
 1717.0: 1,
 1719.0: 1,
 1729.0: 1,
 1720.0: 1,
 1721.0: 1,
 1722.0: 1,
 1723.0: 1,
 1724.0: 1,
 1725.0: 1,
 1726.0: 1,
 1727.0: 1,
 1728.0: 1,
 1753.0: 1,
 1754.0: 1,
 1755.0: 1,
 1789.0: 1,
 1780.0: 1,
 1781.0: 1,
 1782.0: 1,
 1783.0: 1,
 1784.0: 1,
 1785.0: 1,
 1786.0: 1,
 1787.0: 1,
 1788.0: 1,
 1790.0: 1,
 1756.0: 1,
 1791.0: 1,
 1792.0: 1,
 1793.0: 1,
 1794.0: 1,
 1795.0: 1,
 1796.0: 1,
 1797.0: 1,
 1798.0: 1,
 1799.0: 1,
 1779.0: 1,
 1778.0: 1,
 1777.0: 1,
 1776.0: 1,
 1757.0: 1,
 1758.0: 1,
 1759.0: 1,
 1760.0: 1,
 1761.0: 1,
 1762.0: 1,
 1763.0: 1,
 1764.0: 1,
 1765.0: 1,
 1766.0: 1,
 1767.0: 1,
 1768.0: 1,
 1769.0: 1,
 1770.0: 1,
 1771.0: 1,
 1772.0: 1,
 1773.0: 1,
 1774.0: 1,
 1775.0: 1,
 1896.0: 1,
 1898.0: 1,
 2087.0: 1,
 2028.0: 1,
 2019.0: 1,
 2020.0: 1,
 2021.0: 1,
 2022.0: 1,
 2023.0: 1,
 2024.0: 1,
 2025.0: 1,
 2026.0: 1,
 2027.0: 1,
 2029.0: 1,
 2017.0: 1,
 2030.0: 1,
 2031.0: 1,
 2032.0: 1,
 2033.0: 1,
 2034.0: 1,
 2035.0: 1,
 2036.0: 1,
 2037.0: 1,
 2038.0: 1,
 2018.0: 1,
 2016.0: 1,
 2040.0: 1,
 2004.0: 1,
 1995.0: 1,
 1996.0: 1,
 1997.0: 1,
 1998.0: 1,
 1999.0: 1,
 2000.0: 1,
 2001.0: 1,
 2002.0: 1,
 2003.0: 1,
 2005.0: 1,
 2015.0: 1,
 2006.0: 1,
 2007.0: 1,
 2008.0: 1,
 2009.0: 1,
 2010.0: 1,
 2011.0: 1,
 2012.0: 1,
 2013.0: 1,
 2014.0: 1,
 2039.0: 1,
 2041.0: 1,
 1899.0: 1,
 2076.0: 1,
 2067.0: 1,
 2068.0: 1,
 2069.0: 1,
 2070.0: 1,
 2071.0: 1,
 2072.0: 1,
 2073.0: 1,
 2074.0: 1,
 2075.0: 1,
 2077.0: 1,
 2065.0: 1,
 2078.0: 1,
 2079.0: 1,
 2080.0: 1,
 2081.0: 1,
 2082.0: 1,
 2083.0: 1,
 2084.0: 1,
 2085.0: 1,
 2086.0: 1,
 2066.0: 1,
 2064.0: 1,
 2042.0: 1,
 2052.0: 1,
 2043.0: 1,
 2044.0: 1,
 2045.0: 1,
 2046.0: 1,
 2047.0: 1,
 2048.0: 1,
 2049.0: 1,
 2050.0: 1,
 2051.0: 1,
 2053.0: 1,
 2063.0: 1,
 2054.0: 1,
 2055.0: 1,
 2056.0: 1,
 2057.0: 1,
 2058.0: 1,
 2059.0: 1,
 2060.0: 1,
 2061.0: 1,
 2062.0: 1,
 1994.0: 1,
 1993.0: 1,
 1992.0: 1,
 1933.0: 1,
 1924.0: 1,
 1925.0: 1,
 1926.0: 1,
 1927.0: 1,
 1928.0: 1,
 1929.0: 1,
 1930.0: 1,
 1931.0: 1,
 1932.0: 1,
 1934.0: 1,
 1922.0: 1,
 1935.0: 1,
 1936.0: 1,
 1937.0: 1,
 1938.0: 1,
 1939.0: 1,
 1940.0: 1,
 1941.0: 1,
 1942.0: 1,
 1943.0: 1,
 1923.0: 1,
 1921.0: 1,
 1991.0: 1,
 1909.0: 1,
 1900.0: 1,
 1901.0: 1,
 1902.0: 1,
 1903.0: 1,
 1904.0: 1,
 1905.0: 1,
 1906.0: 1,
 1907.0: 1,
 1908.0: 1,
 1910.0: 1,
 1920.0: 1,
 1911.0: 1,
 1912.0: 1,
 1913.0: 1,
 1914.0: 1,
 1915.0: 1,
 1916.0: 1,
 1917.0: 1,
 1918.0: 1,
 1919.0: 1,
 1944.0: 1,
 1945.0: 1,
 1946.0: 1,
 1980.0: 1,
 1971.0: 1,
 1972.0: 1,
 1973.0: 1,
 1974.0: 1,
 1975.0: 1,
 1976.0: 1,
 1977.0: 1,
 1978.0: 1,
 1979.0: 1,
 1981.0: 1,
 1947.0: 1,
 1982.0: 1,
 1983.0: 1,
 1984.0: 1,
 1985.0: 1,
 1986.0: 1,
 1987.0: 1,
 1988.0: 1,
 1989.0: 1,
 1990.0: 1,
 1970.0: 1,
 1969.0: 1,
 1968.0: 1,
 1967.0: 1,
 1948.0: 1,
 1949.0: 1,
 1950.0: 1,
 1951.0: 1,
 1952.0: 1,
 1953.0: 1,
 1954.0: 1,
 1955.0: 1,
 1956.0: 1,
 1957.0: 1,
 1958.0: 1,
 1959.0: 1,
 1960.0: 1,
 1961.0: 1,
 1962.0: 1,
 1963.0: 1,
 1964.0: 1,
 1965.0: 1,
 1966.0: 1,
 2469.0: 1,
 2471.0: 1,
 1707.0: 1,
 2985.0: 1,
 2976.0: 1,
 2977.0: 1,
 2978.0: 1,
 2979.0: 1,
 2980.0: 1,
 2981.0: 1,
 2982.0: 1,
 2983.0: 1,
 2984.0: 1,
 2986.0: 1,
 2974.0: 1,
 2987.0: 1,
 2988.0: 1,
 2989.0: 1,
 2990.0: 1,
 2991.0: 1,
 2992.0: 1,
 2993.0: 1,
 2994.0: 1,
 2995.0: 1,
 2975.0: 1,
 2973.0: 1,
 2997.0: 1,
 2961.0: 1,
 2952.0: 1,
 2953.0: 1,
 2954.0: 1,
 2955.0: 1,
 2956.0: 1,
 2957.0: 1,
 2958.0: 1,
 2959.0: 1,
 2960.0: 1,
 2962.0: 1,
 2972.0: 1,
 2963.0: 1,
 2964.0: 1,
 2965.0: 1,
 2966.0: 1,
 2967.0: 1,
 2968.0: 1,
 2969.0: 1,
 2970.0: 1,
 2971.0: 1,
 2996.0: 1,
 2998.0: 1,
 3045.0: 1,
 3033.0: 1,
 3024.0: 1,
 3025.0: 1,
 3026.0: 1,
 3027.0: 1,
 3028.0: 1,
 3029.0: 1,
 3030.0: 1,
 3031.0: 1,
 3032.0: 1,
 3034.0: 1,
 3022.0: 1,
 3035.0: 1,
 3036.0: 1,
 3037.0: 1,
 3038.0: 1,
 3039.0: 1,
 3040.0: 1,
 3041.0: 1,
 3042.0: 1,
 3043.0: 1,
 3023.0: 1,
 3021.0: 1,
 2999.0: 1,
 3009.0: 1,
 3000.0: 1,
 3001.0: 1,
 3002.0: 1,
 3003.0: 1,
 3004.0: 1,
 3005.0: 1,
 3006.0: 1,
 3007.0: 1,
 3008.0: 1,
 3010.0: 1,
 3020.0: 1,
 3011.0: 1,
 3012.0: 1,
 3013.0: 1,
 3014.0: 1,
 3015.0: 1,
 3016.0: 1,
 3017.0: 1,
 3018.0: 1,
 3019.0: 1,
 2951.0: 1,
 2950.0: 1,
 2949.0: 1,
 2890.0: 1,
 2881.0: 1,
 2882.0: 1,
 2883.0: 1,
 2884.0: 1,
 2885.0: 1,
 2886.0: 1,
 2887.0: 1,
 2888.0: 1,
 2889.0: 1,
 2891.0: 1,
 2879.0: 1,
 2892.0: 1,
 2893.0: 1,
 2894.0: 1,
 2895.0: 1,
 2896.0: 1,
 2897.0: 1,
 2898.0: 1,
 2899.0: 1,
 2900.0: 1,
 2880.0: 1,
 2878.0: 1,
 2948.0: 1,
 2866.0: 1,
 2857.0: 1,
 2858.0: 1,
 2859.0: 1,
 2860.0: 1,
 2861.0: 1,
 2862.0: 1,
 2863.0: 1,
 2864.0: 1,
 2865.0: 1,
 2867.0: 1,
 2877.0: 1,
 2868.0: 1,
 2869.0: 1,
 2870.0: 1,
 2871.0: 1,
 2872.0: 1,
 2873.0: 1,
 2874.0: 1,
 2875.0: 1,
 2876.0: 1,
 2901.0: 1,
 2902.0: 1,
 2903.0: 1,
 2937.0: 1,
 2928.0: 1,
 2929.0: 1,
 2930.0: 1,
 2931.0: 1,
 2932.0: 1,
 2933.0: 1,
 2934.0: 1,
 2935.0: 1,
 2936.0: 1,
 2938.0: 1,
 2904.0: 1,
 2939.0: 1,
 2940.0: 1,
 2941.0: 1,
 2942.0: 1,
 2943.0: 1,
 2944.0: 1,
 2945.0: 1,
 2946.0: 1,
 2947.0: 1,
 2927.0: 1,
 2926.0: 1,
 2925.0: 1,
 2924.0: 1,
 2905.0: 1,
 2906.0: 1,
 2907.0: 1,
 2908.0: 1,
 2909.0: 1,
 2910.0: 1,
 2911.0: 1,
 2912.0: 1,
 2913.0: 1,
 2914.0: 1,
 2915.0: 1,
 2916.0: 1,
 2917.0: 1,
 2918.0: 1,
 2919.0: 1,
 2920.0: 1,
 2921.0: 1,
 2922.0: 1,
 2923.0: 1,
 3044.0: 1,
 3046.0: 1,
 2855.0: 1,
 3176.0: 1,
 3167.0: 1,
 3168.0: 1,
 3169.0: 1,
 3170.0: 1,
 3171.0: 1,
 3172.0: 1,
 3173.0: 1,
 3174.0: 1,
 3175.0: 1,
 3177.0: 1,
 3165.0: 1,
 3178.0: 1,
 3179.0: 1,
 3180.0: 1,
 3181.0: 1,
 3182.0: 1,
 3183.0: 1,
 3184.0: 1,
 3185.0: 1,
 3186.0: 1,
 3166.0: 1,
 3164.0: 1,
 3188.0: 1,
 3152.0: 1,
 3143.0: 1,
 3144.0: 1,
 3145.0: 1,
 3146.0: 1,
 3147.0: 1,
 3148.0: 1,
 3149.0: 1,
 3150.0: 1,
 3151.0: 1,
 3153.0: 1,
 3163.0: 1,
 3154.0: 1,
 3155.0: 1,
 3156.0: 1,
 3157.0: 1,
 3158.0: 1,
 3159.0: 1,
 3160.0: 1,
 ...}

- Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.

In [16]:
#Creamos un diccionario con los nombres de las columnas en minusculas y cambiando el espacio con _ mediante una list conprenhension
nuevas_columnas = {col:col.lower().replace(' ','_') for col in attacks.columns}
#Renombramos las columnas con el método rename
attacks.rename(columns = nuevas_columnas,inplace = True)
attacks.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

- Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.

In [17]:
attacks.drop(['unnamed:_22','unnamed:_23','case_number.1','case_number.2','original_order','investigator_or_source','pdf','href_formula'],axis =1, inplace = True)

In [18]:
attacks.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

- Establece la columna Case Number como índice del DataFrame.

In [19]:
attacks.set_index(['case_number'],inplace = True)

In [20]:
attacks

,year,type,country,area,location,activity,name,sex_,age,time,species_,href
case_number,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...
1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

3. Guarda el csv que no tiene esas columnas para seguir usándolo mañana.

In [21]:
attacks.to_csv('Datos/attacks_nuevo.csv')